*, h1, h2, h3, h4, :before, :after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
/* header start */
.header{
    width:100%;
    border-bottom: 5px solid #84022e;
}
.header__content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
}
.about {
    text-transform: uppercase;
}
/* header end */

/* main start*/
.main{
    margin: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.first__column, .second__column, .third__column{
    border: 2px black solid;
    padding: 8px;
    border-collapse: collapse;
}
.first__column__content, .second__column__content, .third__column__content{
    padding: 3px;
}

/* first column start */
.first__column{
    flex-basis: 20%;
}
.first__column__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cases__data {
    color: red;
    font-weight: 700;
    font-size: 32px;
}

.category-name {
    font-weight: 700;
}

.cases__by__country-list {
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.country-data-container {
    padding: 3px 0;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}

.country-data-container_hide {
    display: none;
}

.country-data-container img {
    width: 44px;
    height: 21px;
}

.country-cases {
    margin-right: 7px;
    color: red;
    font-weight: 700;
    font-size: 19px;
}

.country-name {
    margin-right: 20px;
}

mark {
    background: orange;
}


/* first column end */

/* second column start */
.second__column{
    flex-basis: 50%;
}
/* second column end */

/* third column start */
.third__column{
    flex-basis: 30%;
}
.third__column__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* third column end */

/* footer start */
.footer{
    width: 100%;
    margin:0 auto;
    position:absolute;
    bottom:0;
    display: flex;
    height: 50px;
}
.footer__content{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
}
/* footer end */
