*, h1, h2, h3, h4, :before, :after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: #2b2929;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* header start */
.header{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #9c9999;
    color: #d2cccc;
}
.header__content{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
}
.about {
    text-transform: uppercase;
    cursor:pointer;
    margin:6px;
    border: 2px solid #9c9999;
    padding: 4px;
    border-radius: 10px;
}
.about:hover{
    box-shadow: 1px 1px 6px 1px #eff47e, -1px -1px 5px 1px rgba(138,83,0,0.22);
    color: #f3f880;
}
.overlay{
  position:absolute;
  width:100%;
  height:100%;
  z-index: 10000;
  background: #292929b8;
}
.info{
    position:fixed;
    top: 30%;
    left: 50%;
    height: 268px;
    width: 303px;
    padding: 12px;
    background:#eee8e8;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    line-height: 21px;
    z-index:10001;
    display:none;
}
.visible{
  display:block;
}
.overflow-hidden{
  overflow: hidden;
}
.info__header{
  display: flex;
  justify-content: space-between;
  position:relative;
  padding: 0 0 5px;
  border-bottom: 1px solid black;
}
.info__header h4{
  color: #d20707;
}
.close__button{
  background-image: url(./assets/closeBtn.svg);
  background-repeat: no-repeat;
  background-position:center;
  position: absolute;
  top: -7px;
  right: -3px;
  height: 23px;
  width: 23px;
  border: 2px solid #686666;
  border-radius:100%;
  cursor:pointer;
}
.close__button:hover{
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: #860808;
  font-weight: 600;
}
.developers, .api {
  margin-bottom: 10px;
}
.developers a:hover, .api a:hover {
  text-decoration: underline;
  cursor:pointer;
}
h4 {
  font-size: 1.2em;
}
h5{
  font-size: 1em;
}
.api ul, .developers ul{
  margin-left: 14px;
}
.developers ul {
  margin-bottom: 9px;
}
/* header end */

/* main start*/
.main{
    padding: 10px;
    flex-grow: 1;
}
.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap:wrap;
    max-width: 1300px;
    /* max-height: calc(100vh - 165px); */
    margin: 0 auto;
}
.first__column, .second__column, .third__column{
    padding: 3px;
}

/* first column start */
.first__column{
    flex-basis: 22%;
    min-width: 22%;
}
.first__column__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.global__info{
  width: 100%;
  margin-bottom: 10px;
  padding: 3px;
  flex-basis: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background: #9c9999;
}
.global-arrow {
  width: 28px;
  height: 28px;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease;
}

.global__title {
  font-weight: 700;
}

.global__data {
    color:#d20707;
    font-weight: 700;
    font-size: 1.4em;
}
.cases__by__country{
  flex-basis: 80%;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background: #9c9999;
  padding: 4px;

}
.category-name {
    font-weight: 700;
    margin-bottom: 10px;
}
.select{
  margin-bottom: 10px;
}
.search-country {
  margin-bottom: 10px;
}

.cases__by__country-list {
    max-height: 223px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#scroll::-webkit-scrollbar {
  width: 8px;
	background: none;
}

#scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(61, 61, 61);
}

#scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.country-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    transition: all .3s ease;
    line-height: 20px;
}

.country-data-container:hover,
.country-data-container_active {
  background-color: #f3f880;
}

.country-data-container_hide {
    display: none;
}

.country-data-container img {
    width: 40px;
    height: 20px;
    display: block;
}

.country-cases {
    margin-right: 7px;
    color:#d20707;
    font-weight: 700;
    line-height: 20px;
}

.country-name {
    margin-right: 20px;
    line-height: 20px;
}

mark {
    background: orange;
}


/* first column end */

/* second column start */
.second__column{
    flex-basis: 45%;
    min-width: 45%;
}
.second__column__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  background: #9c9999;
  border: 2px solid black;
}
.content__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 10px 5px 10px;
}
#mapid { 
    height: 400px; 
}
.icon-marker {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .7em;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(black, .9);
}
.icon-marker:hover .icon-marker-tooltip {
      display: block;
}
  
.icon-marker-tooltip {
display: none;
position: absolute;
bottom: 100%;
width: 15em;
font-size: 1em;
padding: .7em;
background-color: #05056e;
border-radius: .7em;
border: 2px solid #736c6c;
margin-bottom: 1em;
}
.icon-marker-tooltip:hover{
    display:block;
}
.icon-marker-tooltip:before {
  display: block;
  position: absolute;
  bottom: -.8em;
  left: 50%;
  content: '';
  width: 1.4em;
  height: 1.4em;
  background-color: #ac6666;
  transform: rotate(45deg);
  margin-left: -.7em;
}

.icon-marker-tooltip h2 {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: .1em;
  margin-top: 0;
}

.icon-marker-tooltip h3 {
  font-size: 1.2em;
  margin: .1em 0;
  font-weight: normal;
  color: grey;
}

.icon-marker-tooltip ul,
.icon-marker-tooltip p {
  font-weight: normal;
}

.icon-marker-tooltip ul {
  list-style: none;
  padding: 0;
  margin: .6em 0 0;
}
.switchers, .switchers__chart{
  width: 100%;
  margin:0 auto;
  margin-top: 10px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switchers__slider, .switchers__slider__chart{
  display:none;
} 
.switcher, .switcher__chart{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: 2px;
  height: 43px;
  width:65px;
  background: #3e3131;
  color: white;
  font-size: 11px;
  border-radius: 10px;
  cursor:pointer;
}
.switcher:hover, .switcher.active, .switcher__chart:hover, .switcher__chart.active{
  box-shadow: 1px 1px 6px 1px #eff47e, -1px -1px 5px 1px rgba(138,83,0,0.22);
  color: #f3f880;
}
.arrow, .global-arrow{
  width: 24px;
  height: 24px;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  font-size:1em;
  font-weight: 400;
  cursor:pointer;
}
.arrow:hover, .global-arrow:hover{
  box-shadow: 1px 1px 6px 1px #eff47e, -1px -1px 5px 1px rgba(138,83,0,0.22);
  background: #eff47e;
}
.visible{
  display:flex;
}
.legend {
  max-width:110px;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: rgb(124, 121, 121);
  border-radius: 5px;
  line-height: 24px;
  color:#ffffffbd;
  opacity:0.8;
}
.legend h4 {
  text-transform: uppercase;
}
.legend__info__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.legend__info__container div {
  border-radius:50%;
  margin-right:4px;
}
.aspect__ratio{
  height:25px;
  width:25px;
  border-radius:10%;
  background-repeat:no-repeat;
  background-position:center;
  background: white;
}
.aspect__ratio:hover{
  transform:scale(1.05);
  cursor:pointer;
  background:rgb(223, 220, 220);
}
.none {
  display:none;
}
.fullscreen{
  flex-basis: 100%;
}
/* second column end */

/* third column start */
.third__column{
    flex-basis: 32%;
    min-width: 32%;
}
.third__column__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.country-data{
  width: 100%;
  flex-basis: 45%;
  margin-bottom:10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: #9c9999;
}
.canvas {
  position: relative;
  margin: auto;
  width: 90%;
}
.chart{
  flex-basis: 50%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background: #9c9999;
  width: 100%;
}

.country-data__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}
.country-data__wrapper {
  display: flex;
  justify-content: center;
  font-size: 13px;
}
.country-data__container{
  border: 2px solid black;
  margin-right: 7px;
  padding: 3px;
}
.country-data__container_per100K{
  border: 2px solid black;
    padding: 3px;
}
.country-info {
  padding: 3px 0;
  text-align: left;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: start;
}
.country-data__container > div:nth-child(1) > div.parameter, .country-data__container_per100K > div:nth-child(1) > span,
.country-data__container > div:nth-child(4) > div.parameter, .country-data__container_per100K > div:nth-child(4) > span {
  color: #d20707;
}
.country-data__container > div:nth-child(2) > div.parameter, .country-data__container_per100K > div:nth-child(2) > span,
.country-data__container > div:nth-child(5) > div.parameter, .country-data__container_per100K > div:nth-child(5) > span {
  color: #0808c3;
}
.country-data__container > div:nth-child(3) > div.parameter, .country-data__container_per100K > div:nth-child(3) > span,
.country-data__container > div:nth-child(6) > div.parameter, .country-data__container_per100K > div:nth-child(6) > span  {
  color: #045f04;
}
.parameter {
  margin-right: 10px;
  font-weight: 700;
}
/* third column end */

/* media queries start*/
@media(max-width:900px){
  .first__column{
    flex-basis:30%;
  }
  .second__column{
    flex-basis:70%;
  }
  .third__column{
    flex-basis:100%;
  }
  .third__column__content{
    flex-direction: row;
  }
  .country-data{
    flex-basis: 40%;
    height: 100%;
    margin: 0 10px 0 0;
  }
  .chart{
    flex-basis: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width:700px){
  .first__column{
    order:2;
    flex-basis:40%;
  }
  .second__column{
    order:1;
    flex-basis:100%;
  }
  .third__column{
    order:3;
    flex-basis:60%;
  }
  .third__column__content{
    flex-direction: column;
  }
  .country-data{
    margin: 0 0 10px;
  }
  h1 {
    font-size:1.5em;
  }
  h2{
    font-size: 1.2em;
  }
}
@media(max-width:600px){
  .first__column, .second__column, .third__column{
    flex-basis:100%;
  }
  .switcher {
    font-size:10px;
  }
  h1 {
    font-size:1.2em;
  }
  h2{
    font-size: 1em;
  }
  #mapid{
    height: 350px;
  }
}

@media(max-width:450px){
  .chart{
    padding: 5px;
  }
  .arrow{
    width: 22px;
    height: 22px;
    font-size: 1em;
    margin: 4px;
  }
  .switcher, .switcher__chart{
    margin: 2px;
  }
  .switcher:hover, .switcher.active, .switcher__chart:hover, .switcher__chart.active{
    transform: scale(1.05);
  }
  #mapid{
    max-height: 300px;
  }
}
/* media queries end*/

/* footer start */
.footer{
    width: 100%;
    flex-shrink: 0;
    margin:0 auto;
    display: flex;
    height:40px;
    border: 1px solid black;
    background: #9c9999;
}
.footer__content{
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.footer__content p{
  margin-right: 7px;
  font-size: 1.1em;
}
.github {
  margin-top:12px;
  background-image: url(./assets/githubLogo.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 40px;
  display: block;
  margin-right: 7px;
}
.rsschool{
  background-image: url(./assets/rs_school_js.svg);
  height: 35px;
  width: 95px;
  background-repeat: no-repeat;
  display: block;
  margin: 12px 7px 0;
}

.github:hover, .rsschool:hover{
  cursor: pointer;
  transform: scale(1.1);
}
/* footer end */


